h1 {
  color: blue;
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

p {
  margin: 5px,60px;
  padding: 0 10vw;

}

ul {
  list-style: armenian;
}
li{
  display: flex;
  justify-content: flex-start;
}
